@font-face {
  font-family: "iconfont"; /* Project id 4351002 */
  src: url('iconfont.woff2?t=1701324749787') format('woff2'),
       url('iconfont.woff?t=1701324749787') format('woff'),
       url('iconfont.ttf?t=1701324749787') format('truetype');
}

.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 49px;
  color: azure;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont2 {
  font-family: "iconfont" !important;
  font-size: 49px;
  color: azure;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont3 {
  font-family: "iconfont" !important;
  font-size: 180px;
  color: azure;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fanhui:before {
  content: "\e66b";
}

.icon-xiangqing:before {
  content: "\e634";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

